<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tourist Guide</title>

	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/static/assets/css/styles.css">
</head>

<body>
<div class="section-cell">
  	<div class="section-center">
		<div id="page-preloader" style="display: none;"><span class="spinner , wheel" style="display: none;"></span></div>
	</div>
</div>
	<header>
		<h2><a href="#">Tourist guide</a></h2>
		<nav>
			<li><a href="#">Главная</a></li>
			<li><a href="/tyrs/">Агентства</a></li>
			<li><a href="#">Картинки</a></li>
			<li><a href="#">Контакты</a></li>
		</nav>
	</header>

	<section class="hero">
		<div class="background-image" style="background-image: url(/static/assets/img/fon.jpg);"></div>
		<br>
		<h1>Туристический гид</h1>
		<br>
		<h3>Найди всю информацию о своем туристическом агентстве</h3>
		<br>
		<br>
		<a class="btn_color" href="/tyrs/">Посмотреть туры</a>
	</section>


	<section class="our-work">
		<h3 class="title">Наши услуги</h3>
		<p>Пользователи могут создавать форму своего туристического агентства, которое позже будет подтверждено администрацией.</p>
		<a href="#" class="btn btn-primary">Перейти</a>
		<hr>
		<center><h3 class="title">Места отдыха</h3></center>
		<ul class="grid">
			<li class="small" style="background-image: url(/static/assets/img/1.jpg);"></li>
			<li class="large" style="background-image: url(/static/assets/img/2.jpg);"></li>
			<li class="large" style="background-image: url(/static/assets/img/3.jpg);"></li>
			<li class="small" style="background-image: url(/static/assets/img/4.jpg);"></li>
		</ul>
		<a href="/tyrs/" class="btn btn-primary">Туристические агентства</a>
	</section>
	

	<section class="features">
		<h3 class="title">Почему именно мы?</h3>
		<p>Благодаря нашему сайту вы сможете найти людей, которые уже пользуются или пользовались вашим туристическим агентством</p>
		<hr>

		<ul class="grid">
			<li>
				<i class="fa fa-camera-retro"></i>
				<h4>Огромное количество туроператоров</h4>
				<p>Множество туроператоров по всей стране и во всех городах, о которых вы сможете прочитать отзывы от участников</p>
			</li>
			<li>
				<i class="fa fa-cubes"></i>
				<h4>Надежность</h4>
				<p>За счет наших отзывов и комментарий вы сможете с легкостью узнать, пользоваться ли вам данными услугами</p>
			</li>
			<li>
				<i class="fa fa-newspaper-o"></i>
				<h4>Удобная обратная связь</h4>
				<p>Написав комментарий или вопрос, с небольшим промежутком времени вы получите на него ответ</p>
			</li>
		</div>
	</section>


	<section style="background-image: url(/static/assets/img/pattern.png);" class="reviews">
		<h3 style="color:white;" class="title">Отзывы:</h3>

		<p class="quote">Мы выбрали недорогой и комфортный тур с экскурсией и остались очень довольны своим выбором. Такой экскурсии не продают ни на одной уличной точке, а мы прошли все вокруг отеля. Больше всего понравилось то, что и билеты, и обед уже включены в стоимость экскурсии.. Это уже уровень, ты не боишься, что в автобусе начнутся поборы то на обед, то за вход куда-нибудь и в итоге денег вообще не хватит. Если честно, не ожидали, спасибо за отдых.</p>
		<p class="author">— Ирина</p>

		<p class="quote">Хочу поделится приятными впечатлениями от организованного тура по Шардже. Впечатления действительно незабываемые, а эмоции переполняют. Мы увидели не только логотип бренда Ferrari но и рассмотрели все красоты Ferrari парка. Спасибо этому сайту за отличный выбор, да еще и по приемлемым ценам.</p>
		<p class="author">— Марина</p>

		<p class="quote">Здравствуйте! Хочу поблагодарить "Tourist Guide" за прекрасно организованный отдых в Турции. Был подобран отличный отель на берегу моря, чистые и уютные номера, все включено. Место оживленное, пляж и рынок в шаговой доступности. По вечерам устраиваются дискотеки. Прекрасный большой бассейн с чистой водой. Очень здорово организован авиаперелет без каких-либо задержек в аэропорту. Безусловно, в следующий раз я снова обращусь к "Tourist Guide".</p>
		<p class="author">— Татьяна</p>
		<a href="/tyrs/" class="btn btn-primary">Посмотреть другие отзывы</a>
		
	</section>


	<section class="contact">
		<h3 class="title">Наши контактные данные</h3>	
		<div class="row">
			<div class="col-md-3 , col-xs-3">
			<center>
				<a href="https://github.com/ZBBulat/HackProject"><i class="fa fa-github-square fa-4x" aria-hidden="true"></i></a>
			</center>
			</div>
			<div class="col-md-3 , col-xs-3">
			<center>
				<a href="/"><i class="fa fa-twitter-square fa-4x" aria-hidden="true"></i></a>
			</center>
			</div>
			<div class="col-md-3 , col-xs-3">
			<center>
				<a href="/"><i class="fa fa-facebook-square fa-4x" aria-hidden="true"></i></a>
			</center>
			</div>
			<div class="col-md-3 , col-xs-3">
			<center>
				<a href="/"><i class="fa fa-git-square fa-4x" aria-hidden="true"></i></a>
			</center>
			</div>
		</div>
	</section>

	<footer style="background-image: url(/static/assets/img/pattern.png);">
		<p>Сделано с помощью <a href="http://tutorialzine.com/" target="_blank">Python Django</a></p>
		<p>Author by: Artemachq , ZBulat , Elina</p>
	</footer>

</body>

</html>
