{% extends 'gid/base.html' %}

{% block content %}
	
	<div style="padding-top:120px;">
	
	</div>

	<div class="container , images">
	
		<div class="row">
			<div class="col-md-6 , col-xs-12">
				<img style="margin:20px;border:2px solid white;" src="/static/assets/img/template_images/1.jpg" class="img-fluid" alt="Responsive image">
			</div>
			<div class="col-md-6 , col-xs-12">
				<img style="margin:20px;border:2px solid white;" src="/static/assets/img/template_images/2.jpg" class="img-fluid" alt="Responsive image">
			</div>
		</div>
			<div class="row">
			<div class="col-md-6 , col-xs-12">
				<img style="margin:20px;border:2px solid white;" src="/static/assets/img/template_images/3.jpg" class="img-fluid" alt="Responsive image">
			</div>
			<div class="col-md-6 , col-xs-12">
				<img style="margin:20px;border:2px solid white;" src="/static/assets/img/template_images/4.jpg" class="img-fluid" alt="Responsive image">
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 , col-xs-12">
				<img style="margin:20px;border:2px solid white;" src="/static/assets/img/template_images/5.jpg" class="img-fluid" alt="Responsive image">
			</div>
			<div class="col-md-6 , col-xs-12">
				<img style="margin:20px;border:2px solid white;" src="/static/assets/img/template_images/6.jpg" class="img-fluid" alt="Responsive image">
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 , col-xs-12">
				<img style="margin:20px;border:2px solid white;" src="/static/assets/img/template_images/7.jpg" class="img-fluid" alt="Responsive image">
			</div>
			<div class="col-md-6 , col-xs-12">
				<img style="margin:20px;border:2px solid white;" src="/static/assets/img/template_images/8.jpg" class="img-fluid" alt="Responsive image">
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 , col-xs-12">
				<img style="margin:20px;border:2px solid white;" src="/static/assets/img/template_images/9.jpg" class="img-fluid" alt="Responsive image">
			</div>
			<div class="col-md-6 , col-xs-12">
				<img style="margin:20px;border:2px solid white;" src="/static/assets/img/template_images/10.jpg" class="img-fluid" alt="Responsive image">
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 , col-xs-12">
				<img style="margin:20px;border:2px solid white;" src="/static/assets/img/template_images/11.jpg" class="img-fluid" alt="Responsive image">
			</div>
			<div class="col-md-6 , col-xs-12">
				<img style="margin:20px;border:2px solid white;" src="/static/assets/img/template_images/12.jpg" class="img-fluid" alt="Responsive image">
			</div>
		</div>
	</div>
	
{% endblock %}